.square {
    width: 100px;
    height: 100px;
    background-color: #73dab2;
}

.flex {
    margin: 10px;
}

/* Flexbox 1 */
.flexOne{
    display: flex;
}

.flexOne > .square{
    margin: 5px;
}

/* Flexbox 2 */
.flexTwo{
    display: flex;
    flex-direction: column;
}

.flexTwo > .square{
    margin: 2px;
}

/* Flexbox 3 */
.flexThree{
    display: flex;
    flex-direction: row-reverse;
}

/* Flexbox 4 */
.flexFour{
    display: flex;
    flex-wrap: wrap;
    width: 350px;
}

.flexFour > .square{
    margin: 5px;
    background: #3d8b6d;
}

/* Flexbox 5 */
.flexFive{
    display: flex;
    width: 350px;
}

.flexFive > .item{
    background: #0b6643;
    width: 100px;
    height: 100px;
    margin: 2px;
}

#grow{
    flex-grow: 2;
}

/* Flexbox 6 */
.flexSix{
    display: flex;
    height: 400px;
    width: 500px;
    background: #f1f1f1;
    flex-direction: column;
    justify-content: space-between;
}

.flexSix > .one{
    display: flex;
    justify-content: space-around;
}

.flexSix > .two{
    display: flex;
    justify-content: space-between;
    background-color: #d6d6d6;
}

.flexSix > .three{
    display: flex;
    justify-content: space-evenly;
}