.square {
    width: 100px;
    height: 100px;
    background-color: #73dab2;
}

.flex {
    margin: 10px;
}

/* Flexbox 1 */
.flexOne{
    display: flex;
}

.flexOne .square{
    margin: 5px;
}

/* Flexbox 2 */
.flexTwo{
    display: flex;
    flex-direction: column;
}

.flexTwo .square{
    margin: 2px;
}

/* Flexbox 3 */
.flexThree{
    display: flex;
    flex-direction: row-reverse;
}

/* Flexbox 4 */
.flexFour{
    display: flex;
    flex-wrap: wrap;
    width: 350px;
}

.flexFour .square{
    margin: 5px;
    background: #3d8b6d;
}